* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#button button {
    background-color: red;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    filter: brightness(150%);
}

.container {
    background-image: url(bgim.jpg);
    height: 100vh;
    width: 100%;
    position: relative;
}

.container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
}

.container-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    padding-left: 10%;
    filter: brightness(150%);
}

.container-text {
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80%;
    font-size: 30px;
    filter: brightness(150%);
}